<% include top %>
        <h3>Welcome to the library</h3>
        <table>
            <tr>
                <th>Game</th>
                <th>Cost</th>
                <th>Personal Playtime</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td>Street Fighter 2</td>
                <td>$25</td>
                <td>3000 Hours</td>
                <td>Cool Stuff</td>
            </tr>
            <tr>
                <td>Crusader Kings 2</td>
                <td>$29.99</td>
                <td>3000 Years</td>
                <td>Deus Vult?</td>
            </tr>
            <tr>
                <td>Crusader Kings 2</td>
                <td>$29.99</td>
                <td>3000 Years</td>
                <td>Deus Vult?</td>
            </tr>
            <tr>
                <td>Crusader Kings 2</td>
                <td>$29.99</td>
                <td>3000 Years</td>
                <td>Deus Vult?</td>
            </tr>
            <tr>
                <td>Crusader Kings 2</td>
                <td>$29.99</td>
                <td>3000 Years</td>
                <td>Deus Vult?</td>
            </tr>
        </table>
        <form class="addGame">
            <input type="text" name="game" placeholder="Game"/>
            <input type="text" name="cost" placeholder="Cost"/>
            <input type="number" name="playtime" placeholder="Hours Played"/>
            <input type="textarea" name="notes" placeholder="Notes"/>
            <input type="submit" value="Submit"/>
        </form>
<% include bottom %>