<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
   <div class="loginBox">
       <form class=login>
           <label for="username">Username</label>
           <input type="text" name="username"/>
           <label for="password">Password</label>
           <input type="password" name="password"/>
           <input type="submit" value="Log In"/>
       </form>
       <a href="/users/create" id="createAccount">Create Account</a>
   </div>
</body>
</html>

