<% include top %>
        <div class=users>
            <a href="/users/display?user=gary" class="user">
                <h4>Gary</h4>
                <h4>4 Games</h4>
            </a>
            <a href="/users/display?user=gary" class="user">
                <h4>Gary</h4>
                <h4>4 Games</h4>
            </a>
            <a href="/users/display?user=gary" class="user">
                <h4>Gary</h4>
                <h4>4 Games</h4>
            </a>
            <a href="/users/display?user=gary" class="user">
                <h4>Gary</h4>
                <h4>4 Games</h4>
            </a>
            <a href="/users/display?user=gary" class="user">
                <h4>Gary</h4>
                <h4>4 Games</h4>
            </a>
            <a href="/users/display?user=gary" class="user">
                <h4>Gary</h4>
                <h4>4 Games</h4>
            </a>
        </div>
<% include bottom %>